BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -2
AlignAfterOpenBracket: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
BreakBeforeBraces : Allman
UseTab: ForIndentation
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
SpacesInParentheses: true
MaxEmptyLinesToKeep: 2
ColumnLimit: 125
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowShortFunctionsOnASingleLine: Inline
